<form #loginForm="ngForm"
      (ngSubmit)="onSubmit()"
      autocomplete="none">
  <fieldset [disabled]="loginProcess.status !== 'show-form'">

  </fieldset>

  <div class="form-group mb-3">
    <label for="username"
           class="form-label">Username</label>
    <input type="text"
           class="form-control"
           id="username"
           #username="ngModel"
           [(ngModel)]="loginModel.username"
           name="username"
           required
           minlength="4"
           autofocus
           [ngClass]="{ 'is-invalid': loginForm.submitted && username.invalid }">
    <div class="invalid-feedback"
         *ngIf="loginForm.submitted && username.invalid">
      <p *ngIf="username.errors?.['required']">Username is required</p>
      <div *ngIf="username.errors?.['minlength']">Trebuie să aibă cel puțin 4 caractere</div>
    </div>
  </div>

  <div class="form-group mb-3">
    <label for="password"
           class="form-label">Password</label>
    <input type="password"
           class="form-control"
           id="password"
           aria-describedby="passwordHelp"
           #password="ngModel"
           [(ngModel)]="loginModel.password"
           [type]="passwordVisible ? 'text' : 'password'"
           name="password"
           required
           minlength="6"
           [ngClass]="{ 'is-invalid': loginForm.submitted && password.invalid }">
    <div *ngIf="loginForm.submitted && password.invalid"
         class="invalid-feedback">
      <div *ngIf="password.errors?.['required']">Password is required</div>
      <div *ngIf="password.errors?.['minlength'] || password.errors?.['pattern']">Trebuie să aibă cel puțin 8 caractere
        și un caracter special</div>
    </div>
  </div>

  <div class="form-group">
    <button type="submit"
            class="btn btn-primary"
            [disabled]="!loginForm.valid">
      {{ loginProcess.status === 'show-form'? 'LOGIN' : 'PRELUCREAREA DATELOR ...'}}
    </button>
  </div>
</form>