<div *ngIf="books$ |async as books"
     class="flex-grow-1">
    <div *ngFor="let book of books">
        <div>{{ book.name }}</div>
        <div>{{ book.publisher }} </div>
        <img src="{{ book.picture }}"
             width="120"
             height="120">
    </div>
</div>

<div *ngIf="isAuthorized"
     class="d-flex justify-content-end"
     style="gap: 4px">
    <button *ngIf="userIsAdministrator"
            type="submit"
            class="btn btn-primary">
        ADMINISTRATOR
    </button>

    <button *ngIf="userIsLibrarian"
            type="submit"
            class="btn btn-primary">
        LIBRARIAN
    </button>
</div>