<div *ngIf="books$ |async as books"
     class="d-flex"
     style="flex-wrap: wrap; gap: 10px">
    <div *ngFor="let book of books"
         class="book p-2 shadow-sm">
        <div style="height: 2em;"><strong>{{ book.name }}</strong></div>
        <div class="d-flex">
            <img src="{{ book.picture }}"
                 width="200"
                 height="300">
            <div class="ms-2">
                <div>{{ book.publisher }} </div>
                <div>{{ book.isbn }} </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isAuthorized"
     class="d-flex justify-content-end mt-1"
     style="gap: 8px;">
    <a *ngIf="userIsAdministrator"
       routerLink="/admin">ADMINISTRATOR</a>

    <a *ngIf="userIsLibrarian"
       routerLink="/librarian">LIBRARIAN</a>
</div>