:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 1rem;
    box-sizing: border-box;
}

.book {
    flex: 0 0 calc(33% - 10px);
    height: 340px;
}
.book:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    background-color: #FFFFF5;
}
.book img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}